{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Nashrlar{% endblock %}
{% block css_link %}
    <link rel="stylesheet" href="{% static 'researches/researches.css' %}">
{% endblock %}


{% block body %}
    <div class="container">
        {#        {% if all_research %}#}
        <div class="research pt-4">
            <h4>Nashrlar</h4>
            <p class="text-secondary">Xalqaro va milliy baholash tadqiqotlardan boxabar bo'ling</p>

            <form action="{% url 'researches:researches' %}" method="GET">
                <ul class="list-inline">

                    <li class="list-inline-item">
                        <button class="active_filter li_button">Xalqaro</button>
                    </li>

                    <li class="list-inline-item">
                        <button class="not_active_filter li_button">Milliy</button>
                    </li>
                </ul>
            </form>
        </div>

        {% for publication in all_publications %}
            <div class="row mt-3 p-3"
                 style="border: 1px solid lightgrey;border-radius: 10px;box-shadow: 5px 10px 18px #888888;">
                <div class="float-left pull-left col-md-3">
                    <img src="{{ publication.image.url }}" alt="Publication Image" height="200" width="180">
                </div>

                <div class="col-md-9">
                    <p class="text-capitalize font-weight-bold" style="font-size:20px;">{{ publication.title }}</p>

                    <p class="text-secondary">
                        {{ publication.description }}
                    </p>
                    <a href="{{ publication.file.url }}" download>
                        <button class="btn btn-info">
                            <i class="fa fa-download" aria-hidden="true"></i> Yuklab olish
                        </button>
                    </a>
                </div>


            </div>
        {% endfor %}


    </div>
    {#        {% else %}#}
    {#            <h3>Tadqiqotlar to'plami mavjud emas.</h3>#}
    {#        {% endif %}#}
    </div>
    <br><br><br>
    <br><br><br>
{% endblock %}
