{% extends 'accounts/base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}Index{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% if user.is_authenticated %}
        {% blocktrans %} Foydalanuvchi: {{ user }} {% endblocktrans %}
    {% else %}
        {% trans "Registratsiyadan o'tmagan foydalanuvchi" %}
    {% endif %}
{% endblock %}
