{% extends 'accounts/base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Ro'yxatdan o'tish" %}{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="container">
            <h2>{% trans 'Iltimos akkauntingizdan chiqing' %}</h2>
        </div>
    {% else %}
        <div class="container pt-5">
            <form action="" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">{{ form2.fullname|as_crispy_field }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form1.username|as_crispy_field }}</div>
                    <div class="col-md-6">{{ form2.phone|as_crispy_field }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form2.area|as_crispy_field }}</div>
                    <div class="col-md-6">{{ form2.city|as_crispy_field }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form2.school|as_crispy_field }}</div>
                    <div class="col-md-6">{{ form2.grade|as_crispy_field }}</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">{{ form1.password1|as_crispy_field }}</div>
                    <div class="col-md-6">{{ form1.password2|as_crispy_field }}</div>
                </div>

                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <button type="submit" class="btn btn-info text-center">{% trans 'Davom ettirish' %}</button>
                    </div>

                </div>

            </form>
        </div>
        <br>    <br>
    {% endif %}

{% endblock %}
