{% extends 'accounts/base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Videodarslar' %}{% endblock %}
{% block css_link %}
    <link rel="stylesheet" href="{% static 'researches/researches.css' %}">
{% endblock %}


{% block body %}
    <div class="container">
        {% if all_video %}
            <div class="research pt-4">
                <h4>{% trans 'Videodarslar' %}</h4>
                <p class="text-secondary">{% trans "Xalqaro va milliy baholash videodarslardan boxabar bo'ling" %}</p>


                <ul class="list-inline">

                    <li class="list-inline-item">
                        <button class="active_filter li_button"><a class="text-decoration-none text-white"
                                                                   href="{% url 'videos:student_videos' %}">{% trans "O‘quvchilaruchun" %}</a>
                        </button>
                    </li>

                    <li class="list-inline-item">
                        <button class="not_active_filter li_button"><a class="text-decoration-none text-white"
                                                                       href="{% url 'videos:teachers_videos' %}">{% trans "O‘qituvchilaruchun" %}</a>
                        </button>
                    </li>
                    <li class="list-inline-item">
                        <button class="not_active_filter li_button"><a class="text-decoration-none text-white"
                                                                       href="{% url 'videos:parents_videos' %}">{% trans "Ota-onalaruchun" %}</a>
                        </button>
                    </li>
                </ul>

            </div>

            <div class="research-details">
                <div class="row">
                    {% for video in page.object_list %}
                        <figure class="figure">
                            <img src="{{ video.video.url }}"
                                 style="height: 230px; width: 250px;"
                                 class="figure-img img-fluid rounded"
                                 alt="video image">

                            <figcaption class="figure-caption">
                                <p class="font-weight-bold text-dark" style="font-size:16px;">{{ video.title }}</p>
                                <p style="font-size:14px;"><i class="fa fa-eye"
                                                              aria-hidden="true"></i> {{ video.watch_count }} &nbsp;&nbsp;&nbsp;<i
                                        class="fa fa-calendar" aria-hidden="true"></i> {{ video.created }} &nbsp;&nbsp;&nbsp;<strong>{{ video.assessment_type }}</strong>
                                </p>
                            </figcaption>
                        </figure>
                    {% endfor %}
                </div>

            </div>
            <div class="page-links">
                {% if page.has_previous %}
                    <button class="btn btn-outline-info"><a class="font-weight-bold mx-3 text-decoration-none"
                                                            href="{% url 'videos:parents_videos' %}?page={{ page.previous_page_number }}">{% trans 'Oldingi' %}
                    </a></button>
                {% endif %}
                {% if page.has_next %}
                    <button class="btn btn-outline-info"><a class="font-weight-bold text-decoration-none"
                                                            href="{% url 'videos:parents_videos' %}?page={{ page.next_page_number }}">{% trans 'Keyingi' %}
                    </a>
                    </button>
                {% endif %}
            </div>
        {% else %}
            <h3>{% trans "Videolar to'plami mavjud emas." %}</h3>
        {% endif %}
    </div>
    <br><br><br>
{% endblock %}
