{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Tadqiqotlar{% endblock %}
{% block css_link %}
    <link rel="stylesheet" href="{% static 'researches/researches.css' %}">
{% endblock %}


{% block body %}
    <div class="container">
        {% if all_research %}
            <div class="research pt-4">
                <h4>Tadqiqotlar</h4>
                <p class="text-secondary">Xalqaro va milliy baholash tadqiqotlardan boxabar bo'ling</p>

                <form action="{% url 'researches:researches' %}" method="GET">
                <ul class="list-inline">

                    <li class="list-inline-item">
                        <button class="active_filter li_button">Xalqaro</button>
                    </li>

                    <li class="list-inline-item">
                        <button class="not_active_filter li_button">Milliy</button>
                    </li>
                </ul>
                    </form>
            </div>

            <div class="research-details">
                <div class="row">
                    {% for research in all_research %}
                        <figure class="figure">
                            <img src="{{ research.image.url }}" style="height: 230px; width: 250px;"
                                 class="figure-img img-fluid rounded"
                                 alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption">
                                <p class="font-weight-bold text-dark" style="font-size:16px;">{{ research.title }}</p>
                                <p style="font-size:14px;">{{ research.description }}</p>
                            </figcaption>
                        </figure>
                    {% endfor %}
                </div>


            </div>
        {% else %}
            <h3>Tadqiqotlar to'plami mavjud emas.</h3>
        {% endif %}
    </div>

{% endblock %}
